// colors
$color-white: #ffffff;
$color-black: #000000;
$color-primary:#FAC532;
$color-primary-hover:#fe8a23;
$color-secondary:#E94B4F;
$color-secondary-hover:#ce181e;
$color-tertiary:#1EAC89;
$color-tertiary-hover:#0e886a;
$color-bg-primary:#ffd7eb;


// fonts
$primary-font:'Urbanist', sans-serif;
